primusCore/src/main/resources/PrePaid_prepaid_ukash_payment_dl_v1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Authorized User (Primus Canada) -->
<WSDL:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://namespaces.soaplite.com/perl" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="uri:ECare" targetNamespace="http://namespaces.soaplite.com/perl" name="ECare">
	<WSDL:types>
		<xsi:schema xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="uri:ECare" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:ECare" elementFormDefault="unqualified" attributeFormDefault="unqualified">
			<xsi:element name="prepaid_ukash_payment_dl">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="user_id" type="xsi:string"/>
						<xsi:element name="business_unit" type="xsi:string"/>
						<xsi:element name="client_id" type="xsi:string"/>
						<xsi:element name="phone_no" type="xsd:string"/>
						<xsi:element ref="ns1:ukash_voucher_dl"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="ukash_voucher_dl">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="ukashvoucher" type="xsi:string"/>
						<xsi:element name="ukashvouchervalue" type="xsi:string"/>
						<xsi:element name="currency" type="xsi:string"/>
						<xsi:element name="transactionid" type="xsi:string"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="prepaid_ukash_payment_dlResponse">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="ECare__PrepaidUkashResponse">
							<xsi:complexType>
								<xsi:all>
									<xsi:element name="transactionid" type="xsi:string"/>
									<xsi:element name="transactioncode" type="xsi:string"/>
									<xsi:element name="transactiondescription" type="xsi:string"/>
									<xsi:element name="settleamount" type="xsi:string"/>
									<xsi:element name="ukashtransactionid" type="xsi:string"/>
									<xsi:element name="errorcode" type="xsi:string"/>
									<xsi:element name="errordescription" type="xsi:string"/>
								</xsi:all>
							</xsi:complexType>
						</xsi:element>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
		</xsi:schema>
	</WSDL:types>
	<WSDL:message name="prepaid_ukashRequest">
		<WSDL:part name="parameters" element="ns1:prepaid_ukash_payment_dl"/>
	</WSDL:message>
	<WSDL:message name="prepaid_ukashResponse">
		<WSDL:part name="parameters" element="ns1:prepaid_ukash_payment_dlResponse"/>
	</WSDL:message>
	<portType name="ECarePortType">
		<WSDL:operation name="prepaid_ukash_payment_dl">
			<WSDL:input message="tns:prepaid_ukashRequest"/>
			<WSDL:output message="tns:prepaid_ukashResponse"/>
		</WSDL:operation>
	</portType>
	<binding name="ECareBinding" type="tns:ECarePortType">
		<SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WSDL:operation name="prepaid_ukash_payment_dl">
			<SOAP:operation soapAction="urn:ECare::Prepaid"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</WSDL:operation>
	</binding>
	<service name="ECare">
		<documentation>gSOAP 2.3.8 generated service definition</documentation>
		<port name="ECare" binding="tns:ECareBinding">
			<SOAP:address location="http://saturn.ca.primus/ECare"/>
		</port>
	</service>
</WSDL:definitions>
