primusCore/src/main/resources/PrePaid_get_prepaid_service_details_dl_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Authorized User (Primus Canada) -->
<WSDL:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://namespaces.soaplite.com/perl" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="uri:ECare" targetNamespace="http://namespaces.soaplite.com/perl" name="ECare">
	<WSDL:types>
		<xsi:schema xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="uri:ECare" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:ECare" elementFormDefault="unqualified" attributeFormDefault="unqualified">
			<xsi:element name="get_prepaid_service_details_dl">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="service_type" type="xsd:string"/>
						<xsi:element name="phone_no" type="xsd:string"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="get_prepaid_service_details_dlResponse">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="ECare__PrepaidServiceDetailsResponse">
							<xsi:complexType>
								<xsi:all>
									<xsi:element name="status" type="xsi:string"/>
									<xsi:element name="statuscode" type="xsi:string"/>
									<xsi:element name="message" type="xsi:string"/>
									<xsi:element name="startdate" type="xsi:string"/>
									<xsi:element name="servicestatus" type="xsi:string"/>
									<xsi:element name="clientnumber" type="xsi:string"/>
									<xsi:element name="servicenumber" type="xsi:string"/>
									<xsi:element name="servicetype" type="xsi:string"/>
									<xsi:element name="serviceidpin" type="xsi:string"/>
									<xsi:element name="enddate" type="xsi:string"/>
									<xsi:element name="statusdate" type="xsi:string"/>
								</xsi:all>
							</xsi:complexType>
						</xsi:element>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
		</xsi:schema>
	</WSDL:types>
	<WSDL:message name="get_prepaid_service_detailsRequest">
		<WSDL:part name="parameters" element="ns1:get_prepaid_service_details_dl"/>
	</WSDL:message>
	<WSDL:message name="get_prepaid_service_detailsResponse">
		<WSDL:part name="parameters" element="ns1:get_prepaid_service_details_dlResponse"/>
	</WSDL:message>
	<portType name="ECarePortType">
		<WSDL:operation name="get_prepaid_service_details_dl">
			<WSDL:input message="tns:get_prepaid_service_detailsRequest"/>
			<WSDL:output message="tns:get_prepaid_service_detailsResponse"/>
		</WSDL:operation>
	</portType>
	<binding name="ECareBinding" type="tns:ECarePortType">
		<SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WSDL:operation name="get_prepaid_service_details_dl">
			<SOAP:operation soapAction="urn:ECare::Prepaid"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</WSDL:operation>
	</binding>
	<service name="ECare">
		<documentation>gSOAP 2.3.8 generated service definition</documentation>
		<port name="ECare" binding="tns:ECareBinding">
			<SOAP:address location="http://saturn.ca.primus/ECare"/>
		</port>
	</service>
</WSDL:definitions>
